<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     asset.html
Description:  Ionic Form
Project:      Fashn
Template: /ionic-1.7.14/forms/form.partial2.vm
 -->
<ion-view title="Asset">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Asset</div>
            <div class="item item-body">
                <form class="list">
                    <!-- Text input for composition Type: Composition  Native Type: Composition-->
                    <!-- Select Basic -->
                    <label class="control-label" for="composition">
                        <span class="input-label">Composition</span>

                        <select ng-options="composition.id as composition.name for composition in compositions " ng-model="asset.composition.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="compositionError" class="error"></div>

                    </label>
                    <!-- Text input for id Type: Long  Native Type: Long-->
                    <!-- Text input for image Type: Image  Native Type: Image-->
                    <!-- Select Basic -->
                    <label class="control-label" for="image">
                        <span class="input-label">Image</span>

                        <select ng-options="image.id as image.description for image in images " ng-model="asset.image.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="imageError" class="error"></div>

                    </label>
                    <!-- Text input for x Type: Float  Native Type: Float-->
                    <label class="item item-input" name="x">
                        <span class="input-label">X</span>
                        <input id="x" name="x" type="text" placeholder="X" ng-model="asset.x">
                        <div id="xError" class="error"></div>
                    </label>
                    <!-- Text input for y Type: Float  Native Type: Float-->
                    <label class="item item-input" name="y">
                        <span class="input-label">Y</span>
                        <input id="y" name="y" type="text" placeholder="Y" ng-model="asset.y">
                        <div id="yError" class="error"></div>
                    </label>
                    <!-- Text input for z Type: Float  Native Type: Float-->
                    <label class="item item-input" name="z">
                        <span class="input-label">Z</span>
                        <input id="z" name="z" type="text" placeholder="Z" ng-model="asset.z">
                        <div id="zError" class="error"></div>
                    </label>
                    <div class="button-bar">
                        <button class="button button-stable button-block  icon ion-checkmark-circled" ng-click="save()"></button>
                        <button id="cancel" name="cancel" class="button button-stable button-block icon ion-android-cancel" ng-click="cancel()"></button>
                        <button ng-if="edit == true" id="delete" name="delete" class="button button-danger button-block  icon ion-android-delete" ng-click="delete()"></button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>


<!-- 
[STATS]
It would take a person typing  @ 100.0 cpm, 
approximately 26.58 minutes to type the 2658+ characters in this file.
 -->