<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     splash.html
Description:  Splash Screen
Project:      Fashn
Template: ionic-1.7.14/splash.html.vmg
 -->

<ion-view title="Fashn">
    <ion-content class="has-header padding">
        <center>
            <h1>Fashn</h1> engineered with
            <br>
            <img src="../img/generatron.png" height="100" />
            <div class="footer">
                <div class="container">
                    <div>Copyright NGEOSONE LLC 2015</div>
                </div>
            </div>


        </center>


    </ion-content>
</ion-view>


<!-- 
[STATS]
It would take a person typing  @ 100.0 cpm, 
approximately 3.71 minutes to type the 371+ characters in this file.
 -->