<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     tabs.html
Description:  Packaging Information
Project:      Fashn
Template: ionic-1.7.14/tabs.html.vmg
 -->

<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


    <!-- Pets Tab -->
    <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Asset Tab -->
    <ion-tab title="Asset" icon="icon ion-gear-b" href="#/tab/assets">
        <ion-nav-view name="assets"></ion-nav-view>
    </ion-tab>
    <!-- Composition Tab -->
    <ion-tab title="Composition" icon="icon ion-gear-b" href="#/tab/compositions">
        <ion-nav-view name="compositions"></ion-nav-view>
    </ion-tab>
    <!-- Image Tab -->
    <ion-tab title="Image" icon="icon ion-gear-b" href="#/tab/images">
        <ion-nav-view name="images"></ion-nav-view>
    </ion-tab>
    <!-- ImageCollection Tab -->
    <ion-tab title="ImageCollection" icon="icon ion-gear-b" href="#/tab/imageCollections">
        <ion-nav-view name="imageCollections"></ion-nav-view>
    </ion-tab>
    <!-- User Tab -->
    <ion-tab title="User" icon="icon ion-gear-b" href="#/tab/users">
        <ion-nav-view name="users"></ion-nav-view>
    </ion-tab>

</ion-tabs>

<!-- 
[STATS]
It would take a person typing  @ 100.0 cpm, 
approximately 12.14 minutes to type the 1214+ characters in this file.
 -->