<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     user.html
Description:  Ionic Form
Project:      Fashn
Template: /ionic-1.7.14/forms/form.partial2.vm
 -->
<ion-view title="User">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">User</div>
            <div class="item item-body">
                <form class="list">
                    <!-- Text input for compositions Type: Collection  Native Type: Collection-->
                    <!-- Collections  -->
                    <label class="item item-input" name="compositions">
                        <span class="input-label">Compositions</span>
                        <ng-include src="compositions.html"></ng-include>
                    </label>
                    <!-- Text input for email Type: String  Native Type: String-->
                    <label class="item item-input" name="email">
                        <span class="input-label">Email</span>
                        <input id="email" name="email" type="text" placeholder="Email" ng-model="user.email">
                        <div id="emailError" class="error"></div>
                    </label>
                    <!-- Text input for id Type: Long  Native Type: Long-->
                    <!-- Text input for imageCollections Type: Collection  Native Type: Collection-->
                    <!-- Collections  -->
                    <label class="item item-input" name="imageCollections">
                        <span class="input-label">ImageCollections</span>
                        <ng-include src="imageCollections.html"></ng-include>
                    </label>
                    <!-- Text input for name Type: String  Native Type: String-->
                    <label class="item item-input" name="name">
                        <span class="input-label">Name</span>
                        <input id="name" name="name" type="text" placeholder="Name" ng-model="user.name">
                        <div id="nameError" class="error"></div>
                    </label>
                    <!-- Text input for photo Type: String  Native Type: String-->
                    <label class="item item-input" name="photo">
                        <span class="input-label">Photo</span>
                        <input id="photo" name="photo" type="text" placeholder="Photo" ng-model="user.photo">
                        <div id="photoError" class="error"></div>
                    </label>
                    <div class="button-bar">
                        <button class="button button-stable button-block  icon ion-checkmark-circled" ng-click="save()"></button>
                        <button id="cancel" name="cancel" class="button button-stable button-block icon ion-android-cancel" ng-click="cancel()"></button>
                        <button ng-if="edit == true" id="delete" name="delete" class="button button-danger button-block  icon ion-android-delete" ng-click="delete()"></button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>


<!-- 
[STATS]
It would take a person typing  @ 100.0 cpm, 
approximately 23.44 minutes to type the 2344+ characters in this file.
 -->